<h1>dynamic stuff</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Group</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @memberships.each do |membership| %>
      <tr>
        <td><%= membership.user.name %></td>
        <td><%= membership.group.name %></td>
        <td><%= link_to 'Show', membership %></td>
        <td><%= link_to 'Edit', edit_membership_path(membership) %></td>
        <td><%= link_to 'Destroy', membership, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


Show memberships
Show Events
Show everything




<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<h1>Static stuff</h1>
<div class="day-nav">
  <span>SA</span>
  <span>SO</span>
  <span class="active">MO</span>
  <span>DI</span>
  <span>MI</span>
  <span>DO</span>
  <span>FR</span>
  <span>SA</span>
</div>

<div class="activity-nav">
  <span data-filter="red">Workshops</span>
  <span data-filter="green">Activities</span>
  <span data-filter="blue">Piste</span>
  <span data-filter="gray">Camp</span>
  <span data-filter="dark-blue">Radio</span>
  <span data-filter="yellow">Skibus</span>
</div>

<div class="event">
  <div class="red">
    <div class="date-time">di<br>10:00</div>
    <h1>Bowling</h1>
    <div class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
    <!--this should be link with id, not to new membership.-->
    <%= link_to '', new_membership_path%>
  </div>
  <div class="green">
    <div class="date-time">di<br>14:00</div>
    <h1>Luzern</h1>
    <div class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
    <!--this should be link with id, not to new membership.-->
    <%= link_to '', new_membership_path%>
  </div>
  <div class="blue">
    <div class="date-time">do<br>10:00</div>
    <h1>Siebdruck</h1>
    <div class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
    <!--this should be link with id, not to new membership.-->
    <%= link_to '', new_membership_path%>
  </div>
  <div class="red">
    <div class="date-time">do<br>14:00</div>
    <h1>Snowboard</h1>
    <div class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
    <!--this should be link with id, not to new membership.-->
    <%= link_to '', new_membership_path%>
  </div>
  <div class="blue">
    <div class="date-time">fr<br>8:00</div>
    <h1>Fotographie</h1>
    <div class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
    <!--this should be link with id, not to new membership.-->
    <%= link_to '', new_membership_path%>
  </div>
  <div class="gray">
    <div class="date-time">sa<br>7:30</div>
    <h1>Packen</h1>
    <div class="description">Alle Gep채cksst체cke m체ssen um 7:30 bei der Mensa bereitstehen</div>
    <!--this should be link with id, not to new membership.-->
    <%= link_to '', new_membership_path%>
  </div>
  <div class="gray">
    <div class="date-time">sa<br>9:30</div>
    <h1>Aufr채umen</h1>
    <div class="description">Putzen ist angesagt. Was genau deine Aufgabe ist, findest du bei deinen Angeboten. Sonst wende dich bitte an deinen Smallgroup Leiter. Sonst wende dich bitte an deinen Smallgroup Leiter.</div>
    <!--this should be link with id, not to new membership.-->
    <%= link_to '', new_membership_path%>
  </div>
</div>

<!--
<table class="table table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Group</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @memberships.each do |membership| %>
      <tr>
        <td><%= membership.user.name %></td>
        <td><%= membership.group.name %></td>
        <td><%= link_to 'Show', membership %></td>
        <td><%= link_to 'Edit', edit_membership_path(membership) %></td>
        <td><%= link_to 'Destroy', membership, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

*redundanz owner und member?

<br><br>

-->

