<div class="padded-row">
  <div id="clearance" class="sign-in">
    <h1><%= t '.title' %></h1>
    <p><%= t '.text' %></p>
    <p class="dots">
      <span class="green">&#8226;</span><span class="red">&#8226;</span><span class="blue">&#8226;</span>
    </p>

    <%= render partial: '/sessions/form' %>

    <div class="other-links">
      <%= link_to t('.sign_up', name: @camp.name), sign_up_path %>
      <%= link_to t('.forgot_password'), new_password_path %>
      <%= link_to t('.as_guest'), start_guest_session_path, method: :post %>
    </div>
  </div>
</div>
