<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @job.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Starts:</strong>
  <%= @job.starts %>
</p>

<p>
  <strong>Ends:</strong>
  <%= @job.ends %>
</p>

<p>
  <strong>Group:</strong>
  <%= @job.group %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
