<div class="group-detail">
  <div class="padded-row">
    <h1>
      <%= image_tag group.leader.avatar.thumb.url, class: :avatar %>
      <%= group.name %>
    </h1>

    <ul class="avatar-list">
      <%= render 'users/avatars', users: group.users %>
    </ul>
  </div>

  <div class="full-row">
    <% if group.events.any? %>
      <div class="events">
        <%= render group.events %>
      </div>
    <% else %>
      <div class="no-entity">
        <%= t('.no_events') %>
      </div>
    <% end %>
  </div>
</div>
