<div class="group-detail">
  <div class="padded-row">
    <h1>
      <%= image_tag group.leader.avatar_url, class: :avatar %>
      <%= group.name %>
    </h1>

    <ul class="attendees">
      <%= render group.users %>
    </ul>
  </div>

  <div class="full-row">
    <% if group.events.any? %>
      <div class="events">
        <%= render group.events %>
      </div>
    <% else %>
      <%= t('.no_events') %>
    <% end %>
  </div>
</div>
