
<h1 class="title">Meine Smallgroup</h1>

<ul class="attendees">
  <li>
    <div class="image"><%= image_tag "_profil4.jpg", height: '80', width: '80', alt: 'Bild von Raffael'%></div>
    <div class="name">Raffael</div>
  </li>
  
  <li>
    <div class="image"><%= image_tag "_profil3.jpg", height: '80', width: '80', alt: 'Bild von Melanie'%></div>
    <div class="name">Melanie</div>
  </li>

  <li>
    <div class="image"><%= image_tag "_profil2.jpg", height: '80', width: '80', alt: 'Bild von Andreas'%></div>
    <div class="name">Andreas</div>
  </li>
  
  <li>
    <div class="image"><%= image_tag "_profil1.jpg", height: '80', width: '80', alt: 'Bild von Noëmi'%></div>
    <div class="name">Noëmi</div>
  </li>
  
  <li>
    <div class="image"><%= image_tag "_profil5.jpg", height: '80', width: '80', alt: 'Bild von Imis'%></div>
    <div class="name">Imis</div>
  </li>
  
  <li>
    <div class="image"><%= image_tag "_profil6.jpg", height: '80', width: '80', alt: 'Bild von Tim'%></div>
    <div class="name">Tim</div>
  </li>
</ul>


<h1 class="title">Unsere Events</h1>

<div class="activities">
  <div class="gray">
    <div class="date-time">fr<br>17:00</div>
    <h1>Smallgroup</h1>
    <div class="description">Zeit mit deinen Freunden</div>
    <!--this should be link with id, not to new membership.-->
    <%= link_to '', new_membership_path%>
  </div>
  <div class="gray">
    <div class="date-time">sa<br>7:30</div>
    <h1>Packen</h1>
    <div class="description">Alle Gepäcksstücke müssen um 7:30 bei der Mensa bereitstehen</div>
    <!--this should be link with id, not to new membership.-->
    <%= link_to '', new_membership_path%>
  </div>
  <div class="gray">
    <div class="date-time">sa<br>9:30</div>
    <h1>Aufräumen</h1>
    <div class="description">Putzen ist angesagt. Was genau deine Aufgabe ist, findest du bei deinen Angeboten. Sonst wende dich bitte an deinen Smallgroup Leiter. Sonst wende dich bitte an deinen Smallgroup Leiter.</div>
    <!--this should be link with id, not to new membership.-->
    <%= link_to '', new_membership_path%>
  </div>
</div>

<!--
<table class="table table-striped">
  <thead>
    <tr>
      <th>Leiter</th>
      <th>Gruppenname</th>
      <th colspan="3">actions</th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.leader[:firstname] + " " + group.leader[:name] %></td>
        <td><%= group.name %></td>
        <td><%= link_to 'Show', group %></td>
        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group', new_group_path, {:class => "button"} %>
-->