<%= simple_form_for @user do |f| %>
  <%= f.input :avatar, as: :image_preview, input_html: {preview_version: :thumb} %>
  <%= f.input :name %>
  <%= f.input :firstname %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :birthday, as: :string, input_html: { class: :datepicker } %>
  <%= f.input :cellphone %>

  <div class="actions">
    <%= f.button :submit, class: 'red' %>
  </div>
<% end %>
