<div class="padded-row">
  <h1><%= @user.fullname %><small><%= @user.email %></small></h1>

  <%= image_tag @user.avatar.small.url, class: :avatar %>
</div>

<% if @events.any? %>
  <div class="full-row">
    <div class="events">
      <%= render @events %>
    </div>
  </div>
<% end %>

<div class="padded-row">
  <h2><%= t('.my_links') %></h2>
  <ul class="links">
    <% if can? :edit, @user %>
      <li><%= link_to t('.edit'), edit_user_path(@user) %></li>
    <% end %>
    <% if can? :access, :administration %>
      <li><%= link_to t('.administration'), '/admin' %></li>
    <% end %>
    <% if signed_in? && current_user == @user %>
      <li><%= link_to t('.sign_out'), sign_out_path, method: :delete %></li>
    <% end %>
  </ul>
</div>
