<div class="padded-row">
  <h1><%= t('.my_profil') %></h1>
</div>

<div class="padded-row">
  <div class="profile">
    <div class="image"><%= image_tag @user.avatar.thumb.url, class: :avatar %></div>
    <div class="info">
      <h2><%= @user.fullname %></h2>
      <p><%= @user.email %></p>
      <ul class="links">
        <% if can? :edit, @user %>
          <li>
            <%= icon_edit %>
            <%= link_to t('.edit'), edit_user_path(@user) %>
          </li>
        <% end %>
        <% if can? :access, :administration %>
          <li>
            <%= icon_administration %>
            <%= link_to t('.administration'), '/admin' %>
          </li>
        <% end %>
        <% if signed_in? && current_user == @user %>
          <li>
            <%= icon_logout %>
            <%= link_to t('.sign_out'), sign_out_path, method: :delete %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="padded-row">
  <h2><%= t('.my_events') %></h2>
</div>

<% if @events.any? %>
  <% Rails.logger.debug "#{@events.inspect}" %>
  <div class="full-row">
    <div class="events">
      <%= render @events %>
      <%= @events %>
    </div>
  </div>
<% end %>
