<h1 class="title">Mein Profil</h1>

<div class="user">
  <div class="user-img">
    <%= image_tag @user.avatar_url, class: :avatar %>
  </div>
  <div class="user-desc">
    <% if can? :edit, @user %>
      <div class="edit">
        <a href="<%= edit_user_path(@user.id) %>"><i class="fa fa-pencil-square-o"></i></a>
      </div>
    <% end %>
    <hr>
    <div class="name">
      <%= @user.firstname %> <%= @user.name %>
    </div>
    <div class="email">
      <%= @user.email %>
    </div>
  </div>
</div>

<% if @owned_events.any? %>
  <h1 class="title"><%= t('.leaded_events') %></h1>
  <div class="events">
    <%= render @owned_events %>
  </div>
<% end %>

<% if @events.any? %>
  <h1 class="title"><%= t('.attending_events') %></h1>
  <div class="events">
    <%= render @events %>
  </div>
<% end %>

<% if can? :access, :administration %>
  <%= link_to t('.administration'), '/admin', class: "button-red" %>
<% end %>
