<div class="event <%= event.category.identifier %>">
  <div class="date-time">
    <p><%= event.starts.strftime('%a') %><br><%= event.starts.strftime('%H:%M') %></p>
  </div>
  <div class="details">
    <h1><%= event.title %></h1>
    <div class="description"><%= event.description %></div>
  </div>
  <div class="link"><%= link_to ico('02-chevron-right'), event %></div>
</div>
