<%= simple_form_for @event do |f| %>
  <%= f.input :title %>
  <%= f.input :teaser %>
  <%= f.input :description %>

  <%= f.input :starts_date, input_html: { class: :datepicker, value: l(f.object.starts_date.to_date) } %>
  <%= f.input :starts_time, input_html: { class: :timepicker, value: l(f.object.starts_time, format: :time_only) } %>
  <%= f.input :ends_date,   input_html: { class: :datepicker, value: l(f.object.ends_date.to_date) } %>
  <%= f.input :ends_time,   input_html: { class: :timepicker, value: l(f.object.ends_time, format: :time_only) } %>

  <%= f.input :meeting_point %>

  <%= f.input :impression, as: :image_preview, input_html: {preview_version: :catalog} %>
  <%= f.input :youtube_url %>

  <%= hidden_field_tag :back, params[:back] %>

  <div class="actions">
    <%= f.button :submit, class: 'red' %>
  </div>
<% end %>
