<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :owner_id %>
    <div class="custom-dropdown long">
      <%= f.collection_select(:owner_id, User.all, :id, :firstname, prompt: true) %>
    </div>
  </div>

  <div class="field">
    <%= f.label :category_id %>
    <div class="custom-dropdown">
      <%= f.collection_select(:category_id, Category.all, :id, :name, prompt: true) %>
    </div>
  </div>

  <div class="field">
    <%= f.label :starts %><br>
    <%= f.datetime_select :starts %>
  </div>
  <div class="field">
    <%= f.label :ends %>
    <%= f.datetime_select :ends %><br>
  </div>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :meeting_point %>
    <%= f.text_area :meeting_point %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
