<%= simple_form_for @event do |f| %>
  <div class="custom-select long">
    <%= f.input :owner_id, collection: User.all, value_method: :id, label_method: :fullname, prompt: true, input_html: { class: 'custom-dropdown long' }  %>
  </div>
  <div class="custom-select">
    <%= f.input :category_id, collection: Category.all, value_method: :id, label_method: :name, prompt: true, input_html: { class: 'custom-dropdown' } %>
  </div>

  <%= f.input :starts_date, input_html: { class: :datepicker } %>
  <%= f.input :starts_time, input_html: { class: :timepicker } %>
  <%= f.input :ends_date,   input_html: { class: :datepicker } %>
  <%= f.input :ends_time,   input_html: { class: :timepicker } %>

  <%= f.input :impression, as: :image_preview, input_html: {preview_version: :thumb} %>

  <%= f.input :title %>
  <%= f.input :description %>

  <%= f.button :submit %>
<% end %>
