<h1>Listing workshops</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Owner</th>
      <th>Title</th>
      <th>Description</th>
      <th>Starts</th>
      <th>Ends</th>
      <th colspan="3">actions</th>
    </tr>
  </thead>

  <tbody>
    <% @workshops.each do |workshop| %>
      <tr>
        <td><%= workshop.owner[:firstname] + " " + workshop.owner[:name] %></td>
        <td><%= workshop.title %></td>
        <td><%= workshop.description %></td>
        <td><%= workshop.starts %></td>
        <td><%= workshop.ends %></td>
        <td><%= link_to 'Show', workshop %></td>
        <td><%= link_to 'Edit', edit_workshop_path(workshop) %></td>
        <td><%= link_to 'Destroy', workshop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Workshop', new_workshop_path, {:class => "button"} %>
