<nav class="day">
  <% ((Date.today.at_beginning_of_week - 1)..Date.today.end_of_week).each do |date| %>
    <a href="<%= events_path(date: date) %>" class="<%= 'active' if date == @selected_date %>">
      <%= date.strftime('%a') %>
    </a>
  <% end %>
</nav>

<% if @events.any? %>
  <nav class="events">
    <% @categories.each do |category| %>
      <%= link_to category.name, '#', data: { filter: category.identifier } %>
    <% end %>
  </nav>

  <%= render @events %>
<% else %>
  <h1><%= t('.no_events.title') %></h1>
  <p><%= t('.no_events.text') %></p>
<% end %>
