<div class="nav-wrapper">
  <nav class="day">
    <% (@camp.starts..@camp.ends).each do |date| %>
      <a href="<%= events_path(date: date) %>" class="<%= 'active' if date == @selected_date %>">
        <%= l date, format: :short_weekday_only %>
      </a>
    <% end %>
  </nav>

<% if @events.any? %>
  <nav class="events">
    <% @categories.each do |category| %>
      <%= content_tag :a, category.name, data: { filter: category.identifier } %>
    <% end %>
  </nav>
</div>

<div class="events">
  <%= render @events %>
</div>
<% else %>
</div>
  <div class="no-entity">
    <h1><%= t('.no_events.title') %></h1>
    <p><%= t('.no_events.text') %></p>
  </div>
<% end %>
