<div class="detail-nav">
  <%= back_link %>
  <h1><%= @event.title %></h1>
  <p><%= @event.category.name %></p>
</div>

<div class="title-pic">
  <%= image_tag @event.impression_url %>
</div>

<div class="event">
  <div class="partipicate">
    <div class="unchecked">
      <span><%= t('.attendance') %></span>
      <%= icon(:"square-o") %>
    </div>
    <div class="checked">
      <span><%= t('.you_take_part') %></span>
      <%= icon(:"check-square-o") %>
    </div>
  </div>
  <ul>
    <li class="description">
      <div class="icon"><%= icon(:"info-circle") %></div>
      <div class="text">
        <p><%= @event.description %></p>
      </div>
    </li>
    <li class="time">
      <div class="icon"><%= icon(:"clock-o") %></div>
      <div class="text">
        <p><%= l @event.starts %> - <%= l @event.ends %></p>
      </div>
    </li>
    <li class="meeting_point">
      <div class="icon"><%= icon(:"compass") %></div>
      <div class="text">
        <p><%= Event.human_attribute_name :meeting_point %> <%= @event.meeting_point %></p>
      </div>
    </li>
    <li class="partipicants">
      <div class="icon"><%= icon(:"check-circle") %></div>
      <div class="text">
        <p><%= Event.human_attribute_name :users %></p>
        <ul class="attendees">
          <% @event.users.each do |attendee| %>
            <li>
              <div class="image"><%= image_tag attendee.avatar_url %></div>
              <div class="name"><%= attendee.fullname %></div>
            </li>
          <% end %>
          <% if @event.attendance_places_left %>
            <li class="space">
              <div class="count"><%= @event.attendance_places_left %></div>
              <div class="name"><%= Event.human_attribute_name :attendance_places_left %></div>
            </li>
          <% end %>
        </ul>
      </div>
    </li>
    <li class="owner">
      <div class="icon"><%= icon(:"question-circle") %></div>
      <div class="text">
        <p><%= Event.human_attribute_name :owner %></p>
        <ul class="attendees">
          <li>
            <div class="image"><%= image_tag @event.owner.avatar_url %></div>
            <div class="name"><%= @event.owner.fullname %></div>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>

<!-- hidden fields for jquery post attendance creation -->
<input type="hidden" id="user_id" value="<%= current_user.id%>">
<input type="hidden" id="event_id" value="<%= @event.id%>">