<%=
#if can? :update, @event
#  link_to "edit", edit_event_path(@event)
#end
%>

<div class="detail-nav">
  <%= back_or_default_link events_path %>
  <h1><%= @event.title %></h1>
  <p><%= @event.category.name %></p>
  <% if can? :edit, @event %>
    <div class="edit">
      <%= link_to edit_event_path(back: params[:back]) do %>
        <%= ico '48-clipboard' %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="title-pic">
  <%= image_tag @event.impression_url %>
</div>


<div class="event">
<% if @event.mandatory? %>
  <div class="partipicate-mandatory">
    <div class="mandatory">
      <span>Obligatorisch für alle</span>
      <%= ico(:"71-control-stop") %>
    </div>

<% elsif @event.attended_by_user?(current_user) %>
  <div class="partipicate yes" data-attendance-id="<%=  @event.attendances.where(user_id: current_user.id).first.id %>" data-event-id="<%= @event.id %>">

<% elsif @event.no_places_left? %>
  <div class="partipicate-mandatory">
    <div class="occupied">
      <span>Der Workshop ist voll besetzt</span>
    </div>

<% else %>
  <div class="partipicate" data-user-id="<%= current_user.id %>" data-event-id="<%= @event.id %>">
<% end %>

    <div class="unchecked">
      <span><%= t('.attendance') %></span>
      <%= ico(:"28-trash") %>
    </div>
    <div class="checked">
      <span><%= t('.you_take_part') %></span>
      <%= ico(:"05-tick") %>
    </div>
  </div>
  <ul>
    <li class="description">
      <div class="icon"><%= ico(:"72-control-pause") %></div>
      <div class="text">
        <p><%= @event.description %></p>
      </div>
    </li>
    <li class="time">
      <div class="icon"><%= ico(:"100-statistic-graph") %></div>
      <div class="text">
        <p><%= l @event.starts %> - <%= l @event.ends, format: :time_only %></p>
      </div>
    </li>
    <li class="meeting_point">
      <div class="icon"><%= ico(:"26-heart") %></div>
      <div class="text">
        <p><%= Event.human_attribute_name :meeting_point %> <%= @event.meeting_point %></p>
      </div>
    </li>
    <li class="partipicants">
      <div class="icon"><%= ico(:"23-forbidden") %></div>
      <div class="text">
        <p><%= Event.human_attribute_name :users %></p>
        <ul class="attendees">
          <%= render @event.users %>
          <% if @event.attendance_places_left %>
            <li class="space">
              <div class="count"><%= @event.attendance_places_left %></div>
              <div class="name"><%= Event.human_attribute_name :attendance_places_left %></div>
            </li>
          <% end %>
        </ul>
      </div>
    </li>
    <li class="owner">
      <div class="icon"><%= ico(:"70-control-play") %></div>
      <div class="text">
        <p><%= Event.human_attribute_name :owner %></p>
        <ul class="attendees">
          <li>
            <div class="image"><%= image_tag @event.owner.avatar_url %></div>
            <div class="name"><%= @event.owner.fullname %></div>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
