<%= image_tag @event.impression_url %>

<p>
  <strong>Owner:</strong>
  <%= @event.owner %>
</p>

<p>
  <strong>Starts:</strong>
  <%= @event.starts %>
</p>

<p>
  <strong>Ends:</strong>
  <%= @event.ends %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
