<div class="detail-nav full-row">
  <%= back_or_default_link events_path, class: 'back' %>
  <div class="title">
    <h1><%= @event.title %></h1>
    <h2><%= @event.category.name %></h2>
  </div>
  <% if can? :edit, @event %>
    <%= link_to edit_event_path(back: params[:back]), class: 'edit' do %>
      <%= icon_edit %>
    <% end %>
  <% end %>
</div>

<div class="title-pic full-row <%= @event.category.identifier %>">
  <%= image_tag @event.impression.detail.url %>
</div>

<div class="event padded-row">
  <ul>
<% if can? :create, Attendance %>
    <% if @event.mandatory? %>
      <li class="mandatory">
        <%= icon_tick_circle %>
        <span class="text"><%= t('.mandatory') %></span>
      </li>

    <% elsif @event.info_only? %>
      <li class="mandatory">
        <%= icon_tick_circle %>
        <span class="text"><%= t('.info_only') %></span>
      </li>

    <% elsif @event.groups_only? %>
      <li class="group-only">
        <%= icon_tick_circle %>
        <span class="text"><%= t('.groups_only') %></span>
      </li>

    <% elsif @event.owner == current_user %>
      <li class="owner">
        <%= icon_tick_circle(css_class:"red") %>
        <span class="text"><%= t('.you_are_owner') %></span>
      </li>

    <% elsif @event.attended_by_user?(current_user) %>
      <li class="participation">
        <div class="yes" data-attendance-id="<%= @event.attendances.where(user_id: current_user.id).first.id %>" data-event-id="<%= @event.id %>">

          <%= icon_tick_circle %>
          <%= icon_tick css_class: 'green partipicate' %>
          <%= icon_cross css_class: 'partipicate' %>
          <span class="text"><%= t('.you_take_part') %></span>
        </div>
      </li>

    <% elsif @event.no_places_left? %>
      <li class="occupied">
        <%= icon_tick_circle %>
        <span class="text"><%= t('.full') %></span>
      </li>

    <% else %>
      <li class="participation">
        <div class="no" data-user-id="<%= current_user.id %>" data-event-id="<%= @event.id %>">

          <%= icon_tick_circle %>
          <%= icon_tick css_class: 'partipicate' %>
          <%= icon_cross css_class: 'red partipicate' %>
          <span class="text"><%= t('.attendance') %></span>
        </div>
      </li>
    <% end %>
<% end %>
    <li class="description">
      <%= icon_info %>
      <span class="text"><%= simple_format @event.description %></span>
    </li>
    <li class="time">
      <%= icon_clock %>
      <span class="text"><%= l @event.starts %> - <%= l @event.ends, format: :time_only %></span>
    </li>
    <% if @event.meeting_point.present? %>
    <li class="meeting_point">
      <%= icon_meeting_point %>
      <span class="text"><%= Event.human_attribute_name :meeting_point %> <%= @event.meeting_point %></span>
    </li>
    <% end %>
    <% if !@event.mandatory? && !@event.groups_only? && can?(:read, User) %>
      <li class="partipicants">
        <%= icon_attendees %>
        <span class="text">
          <span class="title"><%= Event.human_attribute_name :users %></span>

          <ul class="attendees">
            <%= render (@event.users - [@event.owner]) %>
            <% if @event.attendance_places_left %>
              <li class="space">
                <div class="count"><%= @event.attendance_places_left %></div>
                <div class="name"><%= Event.human_attribute_name :attendance_places_left %></div>
              </li>
            <% end %>
          </ul>

          <span class="title"><%= Event.human_attribute_name :owner %></span>
          <ul class="attendees">
            <li>
              <div class="image"><%= image_tag @event.owner.avatar.thumb.url %></div>
              <div class="name"><%= @event.owner.fullname %></div>
            </li>
          </ul>
        </span>
      </li>
    <% end %>
  </ul>
</div>
