<div class="padded-row">
  <%= link_to emergency_numbers_path, class: :emergency do %>
    <span class="text"><%= t '.emergency' %></span>
    <%= icon_emergency %>
  <% end %>
</div>

<div class="padded-row">
  <h1><%= News.model_name.human count: 2 %></h1>
  <%= render @news %>
</div>

<div class="padded-row">
  <h1>
    <%= t('.instagram_feed') %>
    <small><%= @camp.hashtag %></small>
  </h1>
</div>
<div class="full-row instagram-feed"
     data-instagram-tag="<%= @camp.hashtag %>"
     data-instagram-client-id="5f65f602eea445458472fa91247231de">
</div>
