<div class="padded-row">
  <span class="emergency" id="trigger-emergency">
    <span class="text"><%= t '.emergency' %></span>
    <%= icon_emergency %>
  </span>
  <hr>
</div>

<div class="emergency-box">
  <div class="overlay">
    <div class="prompt">
      <%= icon_cross %>
      <label>Info-Point</label><a href="tel:0041433667661">043 366 76 61</a><br>
      <label>Camp-Notfall</label><a href="tel:0041433667661">043 366 76 61</a><br>
      <hr>
      <label>Rega</label><a href="tel:1414">1414</a><br>
      <label>Polizei</label><a href="tel:117">117</a><br>
    </div>
  </div>
</div>

<div class="padded-row">
  <h1><%= News.model_name.human count: 2 %></h1>
  <%= render @news %>
  <hr>
</div>

<div class="padded-row">
  <h1>Insta Feed
    <small>#oywintercamp</small>
  </h1>
</div>
<div class="full-row instagram-feed" data-instagram-tag="oywintercamp" data-instagram-client-id="5f65f602eea445458472fa91247231de"></div>
