<% if @emergency_numbers.any? || @maps.any? %>
  <div class="full-row">
    <% if @emergency_numbers.any? %>
      <%= link_to emergency_numbers_path, class: :emergency do %>
        <span class="text"><%= t '.emergency' %></span>
        <%= icon_emergency %>
      <% end %>
    <% end %>
    <% if @maps.any? %>
      <%= link_to maps_path, class: :maps do %>
        <span class="text"><%= t '.maps' %></span>
        <%= icon_map %>
      <% end %>
    <% end %>
  </div>
<% end %>

<div class="padded-row">
  <h1><%= News.model_name.human count: 2 %></h1>
  <% if @news.any? %>
    <%= render @news %>
  <% else %>
    <%= render [News.new(message: t('.no_news'))] %>
  <% end %>
</div>

<div class="padded-row">
  <h1>
    <%= t('.instagram_feed') %>
    <small>#<%= @camp.hashtag %></small>
  </h1>
</div>
<div class="full-row instagram-feed"
     data-instagram-tag="<%= @camp.hashtag %>"
     data-instagram-client-id="8015881f631a4433b998443d7a6f368d">
</div>
