<div class="detail-nav full-row">
  <%= back_or_default_link news_index_path, class: 'back' %>
  <div class="title">
    <h1><%= t '.title' %></h1>
    <h2><%= t '.subtitle' %></h2>
  </div>
</div>

<div class="padded-row">
  <div class="emergency-numbers">
    <h2>Fragen & Hilfe</h2>
    <ul>
      <li>
        <a href="tel:0041433667622">
          <%= icon_emergency %>
          <span class="text">Camp-Hotline</span>
        </a>
      </li>
      <li>
        <a href="tel:0041433667633">
          <%= icon_emergency %>
          <span class="text">Camp-Leitung</span>
        </a>
      </li>
      <li>
        <a href="tel:0041433667644">
          <%= icon_drugstore(css_class: "green") %>
          <span class="text">Camp-Apotheke</span>
        </a>
      </li>
      <li>
        <a href="tel:0041433667661">
          <%= icon_emergency css_class: "blue" %>
          <span class="text">Pisten-Onkel (U16)</span>
        </a>
      </li>
      <li>
        <a href="tel:0041433667665">
          <%= icon_emergency(css_class: "red") %>
          <span class="text">Pisten-Leiter (Unfälle)</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="emergency-numbers">
    <h2>Notfall</h2>
    <ul>
      <li>
        <a href="tel:0041416697090">
          <%= icon_emergency(css_class: "red") %>
          <span class="text">Rettungsstation</span>
        </a>
      </li>
      <li>
        <a href="tel:1414">
          <%= icon_emergency(css_class: "red") %>
          <span class="text">Rega</span>
        </a>
      </li>
      <li>
        <a href="tel:144">
          <%= icon_emergency(css_class: "red") %>
          <a href="tel:144">Sanität</span>
        </a>
      </li>
      <li>
        <a href="tel:117">
          <%= icon_emergency(css_class: "red") %>
          <span class="text">Polizei</span>
        </a>
      </li>
      <li>
        <a href="tel:118">
          <%= icon_emergency(css_class: "red") %>
          <span class="text">Feuerwehr</span>
        </a>
      </li>
    </ul>
  </div>
</div>
