<%= form_for(@attendance) do |f| %>
  <% if @attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
      <% @attendance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.collection_select(:user_id, User.all, :id, :firstname, prompt: true) %>
  </div>
  <div class="field">
    <%= f.label :workshop_id %><br>
    <%= f.collection_select(:workshop_id, Workshop.all, :id, :title, prompt: true) %>
  </div>
  <div class="actions">
    <%= link_to 'Back', attendances_path, {:class => "button"}  %> | <%= f.submit %>
  </div>
<% end %>
