<!DOCTYPE html>
<html>
<head>
  <title>Camp Buddy</title>
  <%= render 'meta' %>
</head>
<body class="<%= body_class %>">
  <div id="main-wrapper">
    <% if signed_in? %>
      <% if can_see_navigation? %>
        <nav class="main five">
          <%= nav_link icon_home, news_index_path, t('navigation.news') %>
          <%= nav_link icon_calendar, events_path, t('navigation.overview') %>
          <%= nav_link icon_discover, catalog_events_path, t('navigation.catalog') %>
          <%= nav_link icon_group, groups_path, t('navigation.groups') %>
          <%= nav_link icon_one, user_path(current_user), t('navigation.me') %>
        </nav>
      <% else %>
        <nav class="main single">
          <%= nav_link icon_logout, sign_out_path, t('navigation.sign_out'), method: :delete %>
        </nav>
      <% end %>
    <% end %>

    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>

    <section class="content">
      <%= yield %>
    </section>
  </div>
  <%= render 'analytics' %>
</body>
</html>
