<!DOCTYPE html>
<html>
<head>
  <title>trololo</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <div id="main-wrapper">
    <header>
      <h1>Trololapp</h1>
      <nav class="header container">
        <% if signed_in? %>
          <ul>
            <li><%= link_to 'Users', users_path %></li>
            <li><%= link_to 'Events', events_path %>
              <ul><li><%= link_to 'teilnehmer', attendances_path %></li></ul>
            </li>
            <li><%= link_to 'Gruppen', groups_path %>
              <ul><li><%= link_to 'member', memberships_path %></li></ul>
            </li>
            <li>
              Signed in as: <%= current_user.email %>
              <%= button_to 'Sign out', sign_out_path, method: :delete %>
            </li>
          </ul>
        <% end %>
      </nav>
    </header>


    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>

    <section class="container content">
      <%= yield %>
    </section>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</body>
</html>
