<!DOCTYPE html>
<html>
<head>
  <title>Camp Buddy</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="Camp Buddy">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="shortcut icon" type="image/png" href="<%=image_path("logo.png")%>">

  <!-- iPhone 3 and 4 Non-Retina 320x460-->
  <link rel="apple-touch-startup-image" media="(device-width: 320px)" href="<%=image_path("welcome-screen.png")%>">
  <!-- iPhone 4 Retina 640x920-->
  <link rel="apple-touch-startup-image" media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2)" href="<%=image_path("welcome-screen.png")%>">
  <!-- iPhone 5 Retina 640x1096-->
  <link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" href="<%=image_path("welcome-screen.png")%>">
  <!-- iOS Web App Icon -->
  <link rel="apple-touch-icon" href="<%=image_path("logo.png")%>">

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body class="<%= body_class %>">
  <div id="main-wrapper">
    <% if signed_in? %>
      <% if can_see_navigation? %>
        <nav class="main five">
          <%= nav_link icon_home, news_index_path, t('navigation.news') %>
          <%= nav_link icon_calendar, events_path, t('navigation.overview') %>
          <%= nav_link icon_discover, catalog_events_path, t('navigation.catalog') %>
          <%= nav_link icon_group, groups_path, t('navigation.groups') %>
          <%= nav_link icon_one, user_path(current_user), t('navigation.me') %>
        </nav>
      <% else %>
        <nav class="main single">
          <%= nav_link icon_logout, sign_out_path, t('navigation.sign_out'), method: :delete %>
        </nav>
      <% end %>
    <% end %>

    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>

    <section class="content">
      <%= yield %>
    </section>
  </div>
  <%= render 'analytics' %>
</body>
</html>
